%h3 Image Credits
%p
  = link_to "Cloud", "http://thenounproject.com/noun/cloud/#icon-No2590", :target => "_blank" |
  designed by
  = link_to "Adam Whitcroft", "http://thenounproject.com/adamwhitcroft", :target => "_blank" |
  from The Noun Project