#welcome
  .row-fluid
    .span12
      %h1 TaggleCloud
      %h2 Connect with people in your field
#signup
  .row-fluid
    .span12
  -if current_user.nil?
    = link_to "Sign up with LinkedIn", "auth/linkedin", :class => "btn"
    -else
    %h2 Welcome #{current_user.name}
    = link_to "Sign out", "signout", :class => "btn"