#welcome
  .row
    .twelve.columns
      %h1 TaggleCloud
      %h2 Connect with people in your field
#signup
  .row
    .twelve.columns
      = link_to "Sign up with LinkedIn", "#", :class => "large button"