#welcome
  .row
    .twelve.columns
      %h1 TaggleCloud
      %h2 Connect with people in your field
#signup
  .row
    .twelve.columns
      -if current_user.nil?
        = link_to "Sign up with LinkedIn", "auth/linkedin", :class => "large button"
      -else
        %h2 Welcome #{current_user.name}
        = link_to "Sign out", "signout", :class => "large button"
      
