<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Someone wants to meet you, <%= @user.name %>, on TaggleCloud</h1>
    <p>
      <a href="tagglecloud.herokuapp.com">Register Now</a>, And see people who want to meet you
    </p>
  </body>
</html>