%h1 Welcome, #{current_user.name}

%hr

- unless @conferences.empty?
  %h3 Conferences you are attending
  %ul.thumbnails
    - @conferences.each do |conference|
      %li.span6
        = link_to conference_path(conference), :class=> "thumbnail card" do
          %h4.centered
            = conference.name
          %h5.centered
            = conference.location
- else
  %h3.centered Looks like you aren't attending any conferences &#9785;