/*
 *= require_self
 *= require bootstrap-datepicker
*/
.centered { text-align: center }

@import "bootstrap";

.title_link {
  float: left;
  display: block;
  padding: 0px 20px 0px 20px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #555;
  text-shadow: 0 1px 0 white;
}

body {
  padding-top: 60px;
  padding-bottom: 15px;
}

input, textarea {
  width: 250px;
}

@media only screen and (min-width: 800px) {
  input, textarea {
    width: 500px;
  }
  textarea {
    height: 200px;
  }
}

@import "homepage";
@import "conferences";

@import "bootstrap-responsive";