/*
 *= require_self
 *= require bootstrap-datepicker
*/
.centered { text-align: center }
.align-left {
  text-align: left;
}

.pull-left {
  float: left;
}

@import "bootstrap";

.title_link {
  float: left;
  display: block;
  padding: 0px 20px 0px 20px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #555;
  text-shadow: 0 1px 0 white;
}

body {
  padding-top: 60px;
  padding-bottom: 15px;
}

input {
  width: 250px;
}

textarea {
  width: 250px;
  height: 100px;
}

.nav-pad {
  padding: 10px 15px 10px;
}

@media only screen and (min-width: 480px) {
  input, textarea {
    width: 80%;
  }
  textarea {
    height: 100px;
  }
}


@import "homepage";
@import "conferences";
@import "users";

@import "bootstrap-responsive";