// Place all the styles related to the conferences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.no-bullets {
  list-style: none;
}

.attendees {
  list-style: none;
  li {
    display: inline-block;
    padding: 5px 10px;
    min-height: 60px;
  }
  
.card {
  padding: 10px 10px 10px 10px;
}

}