// Place all the styles related to the UserInterests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vcenter {
  display: table-cell;
  vertical-align: middle;
  height: 100px;
}
.image-box {
  display: table-cell;
  width: 100px;
  height: 100px;
  text-align: center;
  size {
    max-width: 90px;
    max-height: 90px;
  }
}
