.row
  %h1= "Attendees at " + @conference.name

%ul.row.attendees
  - @attendees.each do |attendee|
    %li.three.columns
      - if attendee.user_id?
        = link_to "User Name", user_path(attendee.user_id)
      = attendee.registered_email
      = link_to '&times;', conference_attendee_path, method: :delete, data: { confirm: 'Are you sure?' }