.navbar.navbar-fixed-top
  .navbar-inner
    %ul.nav
      %li.brand=link_to "TaggleCloud", :root
      %li= link_to "Conferences", conferences_path
    %ul.nav.pull-right
      %li
        = -if current_user.nil?
          = link_to "Sign In", "auth/linkedin"
          -else
          = link_to "Sign Out", "signout"