.navbar.navbar-fixed-top
  .navbar-inner
    %ul.nav
      %li.title_link=link_to "TaggleCloud", :root
      %li
        - if current_user.nil?
        - else
          = link_to "Conferences", conferences_path
    %ul.nav.pull-right
      %li
        - if current_user.nil?
          = link_to "Sign In", signin_path
        - else
          = link_to "Sign Out", signout_path
