%nav.top-bar
  %ul
    %li.name
      %h1= link_to "TaggleCloud", :root
    %li.name
      %h1= link_to "Conferences", "/conferences"
    %li.toggle-topbar= link_to "", "#"
	

  %ul.right
    %li= link_to "UserNav Goes Here", "#"